.coming-soon {
    position: relative;
    padding: 3rem 2rem;
    min-height: 75vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.countdown-container{
    position: relative;
    padding-bottom: 200px;
}

.countdown {
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.second {
    font-size: 3rem;
    color: white;
}
