* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 75%;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}
.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.category-filter {
    margin-top: 40px;
}
.title {
    margin-bottom: 40px;
}
.title h2 {
    color: #d5d5d5;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.filter-btns {
    text-align: center;
}
.filter-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: #d3d3d3;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.filter-btn::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #555;
    transition: all 0.2s ease-in-out;
}
.filter-btn:hover {
    color: rgb(246, 146, 52);
}
.filter-btn:hover::after {
    width: 100%;
}
.active-btn {
    color: rgb(246, 146, 52);
}
.active-btn::after {
    width: 100%;
}
/* */

.filter-items {
    margin-top: 40px;
}


.item-img img {
   height: 25rem;
}
.item-img:hover img {
    transform: scale(1.1);
}

.item-info {
    padding: 14px 0;
}
.item-info p {
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}

.item-info .price {
    display: inline-block;
    margin-left: 6px;
    font-weight: 600;
    color: #95bf47;
}
.add-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #95bf47;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid #95bf47;
    transition: all 0.2s ease-in-out;
}
.add-btn:hover {
    border-color: #95bf47;
    background-color: #fff;
    color: #95bf47;
}

.filter-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.filter-item {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem .1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}
.filter-item:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}


