* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url("/images/sinkhole-texture\ copy.png");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.category-filter {
    margin-top: 40px;
}
.title {
    margin-bottom: 40px;
}
.title h1 {
    color: #27ae60;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.filter-btns {
    text-align: center;
}
.filter-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: #d3d3d3;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.filter-btn::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #27ae60;
    transition: all 0.2s ease-in-out;
}
.filter-btn:hover {
    color: #27ae60;
}
.filter-btn:hover::after {
    width: 100%;
}
.active-btn {
    color: #27ae60;
}
.active-btn::after {
    width: 100%;
}

.container .filter-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.container .filter-items .filter-item {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem .1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}
.container .filter-items .filter-item:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}

.container .filter-items .filter-item img{
    height: 25rem;
}

.container .filter-items .filter-item:hover img {
    transform: scale(.9);
}

.container .filter-items .filter-item h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.container .filter-items .filter-item:hover h3{
    color:#27ae60;
}

.container .filter-items .filter-item .price {
    font-size: 2rem;
    color: #444;
}

.products-preview {
    position:fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background:rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img{
    height: 40rem;
}

.products-preview .preview .fa-solid .fa-xmark{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.products-preview .preview .fa-solid .fa-xmark:hover{
    transform: rotate(90deg);
}

.products-preview .preview h3{
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.products-preview .preview .stars{
    padding: 1rem o;
    font-size: 1.7rem;
}

.products-preview .preview .stars i{
    font-size: 1.7rem;
    color:#27ae60;
}

.products-preview .preview .stars span{
    font-size: 1.7rem;
    color:#999;
}
.products-preview .preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #777;
}

.products-preview .preview .price{
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}

.products-preview .preview .buttons{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart{
    background: #444;
    color: #fff;
}
.products-preview .preview .buttons a.cart:hover{
    background: #111;
}
.products-preview .preview .buttons a.buy:hover{
    background: #444;
    color: #fff;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    .products-preview .preview img{
        height: 25rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}




